.cover__link {
  background: url(../../../images/cover/cover.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 740px;
}

.cover__link:before {
  content: '';
  position: absolute;
  background: #2a2c2f;
  opacity: .3;
  width: 100%;
  height: 100%;
}

.cover__link:hover::before {
  opacity: .8;
  transition: .3s;
  background: #2a2c2f;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
  }
}