.cover__subtitle {
  margin: 0;
  padding: 0;
  z-index: 1;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin: 0 16px 33px;
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}