.header__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0 0 0 18px;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}