.place__paragraph {
  margin: 0 0 27px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }

  .place__paragraph:last-of-type {
    margin-left: 16px;
    margin-right: 16px;
  }
}