.lead__sutitle {
  text-align: center;
  max-width: 640px;
  margin: 0 auto 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 1279px) {
  .lead__sutitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__sutitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    
  }
}