.cover__title {
  margin: 0 0 32px;
  padding: 0;
  z-index: 1;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 32px 16px 16px;
    font-size: 32px;
    line-height: 35px;
    width: 288px;
  }
}