.place {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 460px 1fr;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place{
    grid-template-columns: 1fr;
  }
}